{% extends 'index.html' %}
{% block head %}
    <title>Компания</title>
    <link rel="stylesheet" href= "/static/css/about.css">
{% endblock %}

{% block content %}
     <div class = 'text'>
         <img src = "/static/images/master.jpg" width="300" height="300" class = 'left'>
         <h1>Наша компания</h1>
         <p> Наша компания лидер Российского рынка с 2004 года!Предназначение продукции – служить как профессионалам своего дела, так и мастеровитым мужчинам в быту.Мы призываем к сотрудничеству всех заинтересованных лиц, в том числе потенциальных дилеров в регионах. Готовы предложить обоюдовыгодные условия. Гарантируем индивидуальное отношение, войдём в курс ваших задач и возможностей. Подготовим прозрачные и гибкие ценовые программы.
</p>
      </div>
      <div class = 'text'>
        <img src = "/static/images/sp.jpg" width="300" height="300" class = 'right'>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/4wUy7Tz9gN8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen autoplay muted></iframe>
        <h1>Сотрудничество</h1>
        <p> Наш коллектив сотрудничает с компанией OraStar!</p>
      </div>
{% endblock %}
